    
         /**BACKGROUND**/   
        body{     
            background-image: url("img/background1.jpg");
            background-repeat: contain;  
            color:black;
 
        }
        img{
            max-width: 100%;
         }
        h1{
            text-align: center;
            font-family: Arial;
        }

    /** CONTAINER**/

        .flexcontainer{
            font-color: white;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-flex-wrap:wrap;
            padding-top: 25px;   
        }
        /**NAVBAR**/

        .navbar a{
            list-style-type: none;
            color: white;

        }
         .navbar-header a img{
                margin-left: 40px;
                height: 70px;
                width: 70px;
                
            }

